[submodule "dexFinal"]
	path = dexFinal
	url = git@github.com:sponsorCoinAdmin/dexFinal.git
[submodule "dexStarter"]
	path = dexStarter
	url = git@github.com:sponsorCoinAdmin/dexStarter.git
[submodule "spCoinMoralis"]
	path = spCoinMoralis
	url = git@github.com:sponsorCoinAdmin/spCoinMoralis.git
[submodule "setupEnv"]
	path = setupEnv
	url = git@github.com:sponsorCoinAdmin/spCoinSetupEnv.git
[submodule "spCoinMoralisExchange"]
	path = spCoinMoralisExchange
	url = git@github.com:sponsorCoinAdmin/spCoinMoralisExchange.git
